body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaefeb;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#decor img {
    position: fixed;
    height: 19em;
    bottom: -137px;
    right: -67px;
    opacity: 5%;
    z-index: -1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

#logo {
    width: auto;
    height: 4em;
    margin: 0.5em;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: lighter;
    color: #157A6E;
}

#announcement {
    font-family: 'Tajawal', sans-serif;
    margin: 1.3em 0 0.5em 0;
    font-size: 0.9em;
}

#countdownWrapper {
    font-size: 1.5em;
    margin: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

iframe {
    width: 70%;
    height: 80%;
    border: 0;
    margin: 0;
    border-radius: 10px;
}

#endOfTime {
    flex-direction: column;
    align-items: center;
    font-family: Tajawal, serif;
    direction: rtl;
    justify-content: center;
}

#timeOver {

    font-size: 2.5em;
    margin: 0;
}

#redirect {

    font-size: 1.2em;
    margin: 0;
}

#clickHere {

    font-size: 0.8em;
    font-weight: 400;
}

footer {
    margin: 1em;
    position: fixed;
    bottom: 0;
}

@media (max-width: 750px) {

    iframe {
        width: 100%;
        height: 90%;
    }

    #decor img {
        height: 10em;
    }

    h2 {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    #countdownwrapper {
        font-size: 1em;
    }
}